<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.chariotsolutions.nfc.rockpaperscissors"
    versionCode = "1" 
    version     = "1.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap nfc experiment</name>

    <description>
      test nfc. 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
      tom c 
    </author>

	<gap:plugin name="com.chariotsolutions.nfc.plugin" />

<preference name="phonegap-version" value="3.2.0" />

	<gap:platform name="android" />

</widget>